#kapcsolat{
    margin: 2% auto 0 auto;
    width: 80%;
    text-align: left;
    border: 3px ridge rgb(90,60,60);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    #kapcsolat {
        width: 90%;
        flex-direction: column;
        padding: 15px;
    }
    #terkep {
        margin-top: 20px;
    }
}

#kapcsolatAdatok, #terkep {
    flex-grow: 1;
}

h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    text-align: center;
    margin-top: 80px;
}

li {
    font-size: 20px;
}

li:nth-child(1)::marker {
    content: "\1F4E7    ";
}

li:nth-child(2)::marker {
    content: "\1F4F1    ";
}

li:nth-child(3)::marker {
    content: "\1F4CD    ";
}

form{
    margin-top: 5%;
    text-align: center;
}

textarea{
    width: 170px;
    height: 95px
}