#sor{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    margin: 1%;
}

#table{
    margin-top: 10%;
    text-align: center;
    border: 5px ridge black;
}

#sor > div{
    border: 2px ridge black;
    width: 350px;
    height: 175px;
    display: inline-block;
    margin-bottom: 0px;
}

#sor div:first-child{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    width: 100px;
    font-size: 25px;
}

#sor > div *{
    display: inline-block;
}

img{
    width: 200px;
    height: 110px;
}

p{
    font-size: 30px;
}
